# catkin artifacts
build/
devel/
install/
log/
logs/
.catkin_tools/

# ROS recordings
*.bag
*.db3
*.mcap

# Python
__pycache__/
*.pyc

# editor
.vscode/
.idea/
*.swp
*~

# temporary/log
*.tmp
*.log

# Large gazebo/simulation archives
gazebo_maps/**/*.tar.xz
gazebo_maps/*.tar.xz
*.tar.xz
