<launch>
    <!-- Input/Output Topic Setting + Chain YAML Load -->
    <node pkg="pongbot_mapping" type="traversability_node" name="traversability_node" output="screen">
        <param name="input_topic" value="/elevation_mapping/elevation_map"/>
        <param name="output_topic" value="/traversability_map"/>
        <rosparam command="load" file="$(find pongbot_mapping)/config/traversability_filters.yaml"/>
    </node>
</launch>