from launch import LaunchDescription
from launch_ros.actions import Node


def generate_launch_description():
    return LaunchDescription([
        Node(
            package="livox_axis_flip",
            executable="livox_flip_node",
            name="livox_flip_node",
            output="screen",
            parameters=[{
                "input_lidar_topic": "/livox/lidar",
                "input_imu_topic": "/livox/imu",
                "output_lidar_topic": "/livox/lidar_upright",
                "output_imu_topic": "/livox/imu_upright",
                "output_frame_id": "livox_frame_upright",
            }],
        )
    ])