<launch>
    <!-- =============================================
                            Args
    ============================================== -->
    <arg name="use_rviz" default="true"/>
    <arg name="use_sim_time" default="false"/>

    <!-- 2D Occupancy Grid Map -->
    <arg name="map_yaml"
         default="/home/rclab/catkin_nav_ws/src/navigation_real/FAST_LIO_LOCALIZATION/map/building_1f_map.yaml"/>

    <!-- Optional 3D PCD debug map -->
    <arg name="pcd_debug_map" default=""/>
    <arg name="pcd_debug_map_topic" default="/laser_map"/>

    <!-- Frames -->
    <arg name="map_frame" default="map"/>
    <arg name="nav_map_frame" default="map_2d"/>
    <arg name="local_odom_frame" default="camera_init"/>
    <arg name="robot_base_frame" default="body"/>

    <!-- Localization backend odometry -->
    <arg name="odom_topic" default="/Odometry"/>
    <arg name="use_body_to_velodyne_tf" default="true"/>

    <!-- Pointcloud input for obstacle layer -->
    <arg name="pointcloud_topic" default="/velodyne_points"/>

    <!-- map -> map_2d alignment -->
    <arg name="align_x" default="0.15"/>
    <arg name="align_y" default="-0.2"/>
    <arg name="align_z" default="-0.10"/>
    <arg name="align_roll" default="0.0"/>
    <arg name="align_pitch" default="0.0"/>
    <arg name="align_yaw" default="-0.02"/>

    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <!-- =================================================
         IMPORTANT:
         Localization is NOT launched here.
    ====================================================== -->

    <!-- =================================================
                    2D Map Server
    ====================================================== -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)">
        <param name="frame_id" value="$(arg nav_map_frame)"/>
    </node>

    <!-- map -> map_2d alignment static TF -->
    <node pkg="tf2_ros" type="static_transform_publisher"
          name="map_to_map2d"
          output="screen"
          args="$(arg align_x) $(arg align_y) $(arg align_z) $(arg align_roll) $(arg align_pitch) $(arg align_yaw) $(arg map_frame) $(arg nav_map_frame)" />

    <!-- body -> velodyne static TF.
         FAST-LIO: true
         GenZ-ICP: false
    -->
    <group if="$(arg use_body_to_velodyne_tf)">
        <node pkg="tf2_ros" type="static_transform_publisher"
              name="body_to_velodyne"
              output="screen"
              args="0.297 0 0.1536 0 0 0 $(arg robot_base_frame) velodyne" />
    </group>

    <!-- Optional 3D PCD debug map -->
    <group unless="$(eval arg('pcd_debug_map') == '')">
        <node pkg="pcl_ros" type="pcd_to_pointcloud"
              name="pcd_debug_map_publisher"
              output="screen"
              args="$(arg pcd_debug_map) 5 _frame_id:=$(arg map_frame) cloud_pcd:=$(arg pcd_debug_map_topic)"/>
    </group>

    <!-- =========================================================
         PointCloud -> LaserScan for local costmap obstacle layer
    ========================================================= -->
    <node pkg="pointcloud_to_laserscan"
          type="pointcloud_to_laserscan_node"
          name="cloud_to_scan"
          output="screen">

        <remap from="cloud"    to="$(arg pointcloud_topic)"/>
        <remap from="cloud_in" to="$(arg pointcloud_topic)"/>
        <remap from="scan"     to="/scan_nav"/>

        <param name="target_frame" value="$(arg robot_base_frame)"/>
        <param name="output_frame_id" value="$(arg robot_base_frame)"/>

        <param name="min_height" value="0.03"/>
        <param name="max_height" value="1.8"/>
        <param name="range_min"  value="0.25"/>
        <param name="range_max"  value="8.0"/>
    </node>

    <!-- =========================================================
         move_base: Sparse A* global planner + DWA local planner
    ========================================================= -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="planner_frequency" value="0.0"/>            <!-- value 0.0으로 하면 global plan은 고정 -->
        <param name="controller_frequency" value="10.0"/>

        <!-- Sparse A* global planner -->
        <param name="base_global_planner" value="pongbot_global_planner/AStarSparsePlannerROS"/>

        <!-- DWA local planner -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

        <!-- Sparse A* plugin params -->
        <rosparam file="$(find pongbot_global_planner)/params/astar_sparse_params.yaml"
                  command="load"
                  ns="AStarSparsePlannerROS"/>

        <!-- Costmap params -->
        <rosparam file="$(find pongbot_navigation)/config/costmap_common_params.yaml" command="load"/>
        <rosparam file="$(find pongbot_navigation)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find pongbot_navigation)/config/local_costmap_params.yaml" command="load"/>

        <!-- DWA params -->
        <rosparam file="$(find pongbot_navigation)/config/base_local_planner_params.yaml" command="load"/>

        <!-- Force frame contracts -->
        <param name="global_costmap/global_frame" value="$(arg nav_map_frame)"/>
        <param name="global_costmap/robot_base_frame" value="$(arg robot_base_frame)"/>

        <param name="local_costmap/global_frame" value="$(arg local_odom_frame)"/>
        <param name="local_costmap/robot_base_frame" value="$(arg robot_base_frame)"/>

        <!-- DWA odometry source -->
        <param name="DWAPlannerROS/odom_topic" value="$(arg odom_topic)"/>
        <param name="DWAPlannerROS/odom_frame" value="$(arg local_odom_frame)"/>

        <param name="DWAPlannerROS/global_frame_id" value="$(arg local_odom_frame)"/>

        <param name="recovery_behavior_enabled" value="false"/>
        <param name="clearing_rotation_allowed" value="false"/>
    </node>

    <!-- =========================================================
         RViz
    ========================================================= -->
    <!-- <group if="$(arg use_rviz)">
        <node pkg="rviz"
              type="rviz"
              name="rviz"
              output="screen"
              args="-d $(find pongbot_navigation)/rviz_cfg/global_nav_localization.rviz"/>
    </group> -->

    <!-- =========================================================
         cmd_vel -> LCM bridge
         Requested behavior: always enabled in this launch.
    ========================================================= -->
    <node pkg="pongbot_lcm"
          type="ros_cmd_vel_to_lcm"
          name="ros_cmd_vel_to_lcm"
          output="screen">
        <param name="cmd_vel_topic" value="/cmd_vel"/>
        <param name="lcm_channel" value="CMD_VEL"/>
        <param name="lcm_url" value="udpm://239.255.76.67:7667?ttl=1"/>
    </node>
</launch>